# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore Streamlit config 
.streamlit/

# Ignore macOS 
.DS_Store
*.swp

# Ignore environment variables 
.env
.secret

# Python Libs
Lib
Scripts
*.cfg
share
etc